:root {
	--ui-border-radius: 3px;
	--ui-transition-duration: 0.15s;
	--ui-padding: 0.5em 1em;
	--ui-max-height: 3rem;

	--button-bg: rgb(30, 30, 30);
	--input-bg: rgba(255, 255, 255, 0.6);
	--icon-fill: white;

	--button-bg-hover: rgb(128, 128, 128);
	--icon-fill-hover: rgb(200, 200, 200);
	--input-bg-focus: white;
}

#root {
	width: 100ch;
	height: 100%;
	max-width: 100%;
	margin: 0 auto;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 4rem;
	font-size: 1.25rem;
}
