#root {
	width: 100ch;
	height: 100%;
	max-width: 100%;
	margin: 0 auto;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 4rem;
}

.react-icons {
	vertical-align: middle;
}

input,
button {
	padding: 0.5em 1em;
	border-radius: 3px;
	font-family: inherit;
	outline: none;
	border: none;
	font-size: 1.25rem;
}

input,
button,
button svg {
	transition-property: opacity, transform, background-color, fill;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}

.input-form {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 15ch;
	justify-content: center;
	margin-bottom: 2rem;
}

button {
	background: rgb(50, 50, 50);
	color: white;
	font-weight: 600;
}

.input-form input {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 3px 0 0 3px;
	max-height: 3rem;
}

.input-form input:focus {
	background-color: white;
}

.input-form button {
	background: rgb(30, 30, 30);
	max-height: 3rem;
	height: 100%;
	color: white;
	font-weight: 600;
	width: auto;
	border-radius: 0 3px 3px 0;
}

.name-list {
	list-style: none;
	width: 100%;
	gap: 1rem;
}

.name-list li {
	font-size: 1.5rem;
	border-radius: 3px;
	height: 3rem;
	width: 100%;
	background: rgba(255, 255, 255, 0.75);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: black;
	margin: 1rem 0;
	overflow: hidden;
	position: relative;
	padding: 0 1em;
}

.name-list li .timer {
	font-size: 1rem;
	height: 100%;
	min-width: 18ch;
	max-width: 25ch;
	padding: 0 1em;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	right: auto;
	display: none;
}

.name-list button.delete {
	background-color: rgb(0, 0, 0, 0.5);
	display: block;
	padding: 0;
	height: 100%;
	max-width: 3em;
	border-radius: 0;
	padding: 0.2em 0.5em;
	position: absolute;
	right: 0;
	left: auto;
}

button.delete svg {
	width: 100%;
	height: 100%;
	fill: white;
}

@media only screen and (min-width: 60ch) {
	.name-list li {
		justify-content: center;
	}
	.name-list li .timer {
		display: flex;
	}
}

@media (hover: hover) {
	.input-form button:hover {
		background-color: rgb(128, 128, 128);
	}

	button.delete:hover {
		background-color: rgba(0, 0, 0, 0.75);
	}
	button.delete:hover svg {
		fill: rgb(230, 75, 50);
	}
}
